.text-input-field,
.autocomplete-field {
    margin: 15px 0px 10px !important;
    width: 100% !important;
}

.text-input-field label {
    margin-bottom: 8px; /* Add margin to the label */
}

.text-input-field input:focus {
    color:  #000;
    border: none !important;
    padding-top : 15px !important;
}

.text-input-field input {
    color: #000;
}

.modal-header {
    font-size: 16px !important;
    font-style: normal;
    font-weight: 500 !important;
}

.create-btn,
.create-btn:hover,
.create-btn:active {
    width: auto;
    height: auto;
    font-family: Inter;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    text-transform: none!important;
    color: white !important;
    border-radius: 25px !important;
    background: linear-gradient(97deg, #3577F1 -13.4%, #405189 55.52%);
}

.draft-label-style {
    color: #F7B84B;
    width: 42px;
    height: 21px;
    background-color: rgb(151, 150, 54, 0.1);
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.live-label-style {
    width: 42px;
    height: 21px;
    color: #0AB39C;
    background-color: rgba(10, 179, 156, 0.1);
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.is-active-radio-button {
    color: linear-gradient(97deg, #3577F1 -13.4%, #405189 55.52%) !important;
    stroke-width: 1;
}

.create-btn-grid {
    text-align: end;
}

.radio-group-label {
    margin-right: 25px;
}

.radio-group-main {
    display: contents !important;
}

.radio-btn-main {
    display: flex;
}