.navbar {
    padding: 1rem 0rem;
    background-color: #43538A;
    display: block;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: width 0.8s;
    height: 100vh;
    top: 0;
    position: fixed;
    overflow-y: overlay;
    left: 0;
    width: 50px;
    bottom: 0;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.navbar::-webkit-scrollbar {
    display: none;
}

.navbar .navbar .menu-button {
    margin: 0px;
    padding: 0px;
    color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
}

.navbar .menu-button:focus,
.navbar .menu-button:active,
.navbar .menu-button:hover {
    margin: 0px;
    padding: 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
}

.navbar .menu-button img {
    margin: 0;
    color: white;
}

.navbar:hover .menu-button .logo-icon-text {
    margin: 0;
    visibility: visible;
    width: 54%;
}

.navbar:hover .menu-button .logo-icon {
    visibility: hidden;
    width: 0;
}

.navbar .menu-button .logo-icon-text {
    width: 0;
    visibility: hidden;
}

.navbar .menu-button .logo-icon {
    visibility: visible;
}

.navbar .menu-button p {
    margin: 0;
    margin-left: 10px;
    width: 0;
    overflow: hidden;
    transition: width 0.8s;
}

.sub-menu p {
    color: #878A99;
}

.sub-menu p:focus,
.navbar .sub-menu p:active,
.navbar .sub-menu p:hover {
    color: white;
}

.navbar .menu-button {
    margin: 0px;
    padding: 0px;
    color: #969696;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
}

.navbar:hover {
    width: 260px;
    transition: width 0.8s;
    padding: 1rem
}

.navbar:hover .menu-button p {
    margin: 0;
    margin-left: 10px;
    width: 100%;
    transition: width 0.8s;
}

.navbar-icon {
    display: block;
    margin: 25px 0px;
}