.order-details {
    display: flex;
}

.order-details-body {
    margin-top: 20px;
    width: 90%;
}

.order-details-body .title {
    margin-left: 25px;
    margin-top: 10px;
    font-size: 1.6vmax;
}

.order-details-body .order-details-cards {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}

.order-details-body .order-details-card {
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(56, 65, 74, 0.14902);
    border-radius: 4px;
    max-width: 70vw;
    /* flex-basis: calc(100% / 3); */
    /* position: relative;*/
    /*display: flex */
}

.order-details-body .order-details-card-small {
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(56, 65, 74, 0.14902);
    border-radius: 4px;
    max-width: 20vw;
}

.order-details-body .order-details-card .order-id {
    padding: 20px;
    padding-bottom: 10px;
    font-size: 1.2vmax;
}

.order-details-body .order-details-card table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    /*position: relative;
    box-sizing: border-box; */
}

.order-details-body .order-details-card th {
    margin: 0;
    background-color: grey;
    color: white;
    padding: 10px;
    text-align: center;
    border: none;
    overflow: hidden;
    /* overflow-wrap: break-word; */
    text-overflow: ellipsis;
    width: 100%;
    font-size: 1vmax;
}

/* .order-details-body .order-details-card .orders-data-values{
    width: 100%;
} */

.order-details-body .order-details-card tr td {
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    font-size: 1vmax;
    text-align: center;
}

.order-details-body .order-details-card tr td p {
    margin: 0;
    padding: 5px;
    background-color: rgba(247, 184, 75, 0.098);
    color: #F7B84B;
    width: max-content;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    text-align: center;
}

.order-details-body .order-details-card tr td img {
    margin: 10px 0px;
    cursor: pointer;
}

.dashed-divider {
    border: 1px dashed #EBEBEB;
}

.pricing {
    display: flex;
    justify-content: end;
}

.pricing-details {
    margin: 20px;
    margin-top: 10px;
    width: 250px;
}

.pricing-details-title-value {
    display: flex;
    justify-content: space-between;
    font-size: 1vmax;
}

.pricing-details-title-value .pricing-details-title {
    color: #32383E;
    font-weight: 600;
}

.pricing-details-title-value .pricing-details-value {
    color: #32383E;
    font-weight: 500;
}

.pricing-details-title-value .pricing-details-total {
    color: #32383E;
    font-weight: 700;
}

.order-details-card-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-details-card-heading .actions {
    display: flex;
}

.change-address {
    margin: 20px;
    margin-right: 5px;
    padding: 5px;
    background: rgba(64, 81, 137, 0.098);
    border-radius: 3.2px;
    color: #405189;
    height: 20px;
}

.order-details-card-heading .change-address p {
    margin: 0;
    padding: 0;
}

.cancel-order {
    margin: 20px;
    margin-left: 5px;
    padding: 5px;
    height: 20px;
    background: rgba(240, 101, 72, 0.0980392);
    border-radius: 3.2px;
    color: #F06548;
}

.order-details-card-heading .cancel-order p {
    margin: 0;
    padding: 0;
}

.statuses {
    margin: 20px;
}

.status-icon-and-text {
    margin: 0;
    display: flex;
    align-items: center;
}

.status-icon-and-text p {
    margin: 0;
    margin-top: 0px;
    margin-left: 10px;
    width: 70vw;
}

.statuses .status-icon {
    margin-top: 0px;
    /* margin-left: 20px; */
    padding: 10px;
    background-color: #405189;
    border-radius: 100%;
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-icon img {
    height: 20px;
    width: 20px;
}

.dashed-divider-and-status-details {
    margin-left: 20px;
    display: flex;
}

.dashed-divider-and-status-details .status-details {
    margin-left: 30px;
}

.dashed-divider-and-status-details .status-details .status-details-heading {
    margin-top: 0px;
    margin-bottom: 0px;
}

.confirm-order-button {
    margin-top: 20px !important;
    height: 30px;
    width: 100%;
    font-size: 14px;
    padding: 6px;
}