.search-component{
    margin-bottom: 20px;
    padding: 2px 15px;
    background-color: rgb(217,217,217);
    width: 30vw;
    border-radius: 25px;
    top: 20px;
    position: sticky;
    z-index: 1;
}

.search-component input[type=text]{
    margin: 0px;
    border: none;
    outline: none;
    caret-color: black;
    color: black;
}