.search-component input {
    /* margin-bottom: 20px; */
    padding: 0.7rem 2rem !important;
    background-color: rgb(217, 217, 217) !important;
    width: 30vw !important;
    border-radius: 25px;
    top: 20px;
    position: sticky;
    z-index: 1;
}

.search-component input[type=text] {
    margin: 0px;
    border: none;
    outline: none;
    caret-color: black;
    color: black;
}