.main {
    display: flex;
    position: relative;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    background: #eee;
    overflow: hidden;
    gap: 1rem;
    min-height: 100vh;
}

.sub-menu {
    padding-left: 35px;
}



.main_inner {
    display: block;
    width: calc(100% - 45px);
    margin-left: calc(45px + 1rem);
    transition: margin 0.8s;
    padding-right: 1rem;
    /* Added 'margin' to the transition */
}

.main_inner.hovered {
    margin-left: calc(260px + 1rem);
    /* width: calc(100% - calc(260px + 1rem)); */
    transition: margin 0.8s;
    /* Added 'margin' to the transition */
}

.header {
    display: flex;
    width: -webkit-fill-available;
    padding: 0.7rem 0;
    position: fixed;
    background: #eeeeee;
    z-index: 999;
    top: 0;
    justify-content: space-between;
    padding-right: 1rem;
}

.main_conatiner {
    margin-top: 69px;
    padding-top: 55px;
}

.header_above {
    display: flex;
    gap: 1rem;
    align-items: center;

}

.header_above>span {
    padding: 0.2rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.header_above>span:hover {
    background: #D9D9D9
}

.header_above span svg {
    width: 1.2rem;
    height: auto;
}

.breadcrumb_main {
    position: fixed;
    display: block;
    z-index: 9999;
    background: #eeeeee;
    width: -webkit-fill-available;
    padding: 0.7rem 1rem 0;
    margin-top: -60px;
}

.breadcrumb_main .create-product-button {
    font-size: 12px;
    position: absolute;
    right: 0;
}

.breadcrumb_main .breadcrumb-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;

}

.breadcrumb_main {
    margin-bottom: 0px;
}

.user_login {
    display: flex;
    gap: 0.7rem;
    background: #D9D9D9;
    padding: 0.35rem;
    border-radius: 3.5rem;
    padding-right: 1.5rem;
}

.user_login span {
    display: flex;
    flex-direction: column;
}

.user_login small {
    color: #808080;
}

.dropzone input {
    display: none
}

.dropzone .dropzone-container {
    align-items: center;
    background-color: #fff;
    border: 2px dashed #ccc;
    border-radius: .4rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem
}

.dropzone .dropzone-container:focus,
.dropzone .dropzone-container:hover {
    border-color: #ffad39
}

.dropzone .dropzone-container:focus .dropzone-title,
.dropzone .dropzone-container:focus .file-icon,
.dropzone .dropzone-container:hover .dropzone-title,
.dropzone .dropzone-container:hover .file-icon {
    color: #ffad39
}

.dropzone .dropzone-container .file-icon {
    color: #3577F1;
    margin-bottom: .6rem
}

.dropzone .dropzone-container .file-icon svg {
    height: 2.5rem;
    width: 2.5rem
}

.dropzone .dropzone-container .dropzone-title {
    color: #3577F1
}

.dropzone .dropzone-container .dropzone-title .browse {
    color: #417df8
}

.dropzone_image {
    position: relative;
}

.dropzone_image .remove-box {
    align-items: center;
    background-color: #ffb5c4;
    border-radius: 50%;
    color: #de002e;
    cursor: pointer;
    display: flex;
    height: 2.1rem;
    justify-content: center;
    position: absolute;
    right: 0.4rem;
    top: 0.44rem;
    width: 2.1rem;
    border: 0px;
    box-shadow: 0px -1px 8px #00000059;
}

.general_tab .nav-tabs,
.general_tab .nav-tabs .nav-link {
    color: #808080;
    border: 0;
}

.general_tab .nav-tabs .nav-link.active {
    border-bottom: 2px solid #405189;
    color: #405189;
    font-weight: 500;

}

.category_bar {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: gray;
}

.category_bar span {
    text-decoration: underline;
}

.css-1jqq78o-placeholder {
    padding: 0 0.5rem;
}

.css-13cymwt-control,
.css-t3ipsp-control {
    border: 2px solid #EBEBEB !important;
    background: #EBEBEB !important;
    box-shadow: none !important;
}

.css-1p3m7a8-multiValue,
.css-wsp0cs-MultiValueGeneric {
    background-color: #405189 !important;
    color: white !important
}

.gray_input textarea {
    background: #ebebeb;
    border-color: #ebebeb;
}

.profuct_filter {
    min-height: 82vh !important;
    height: 100%;
}



.profuct_filter .accordion-body {
    color: #808080;
}

.profuct_filter p.mb-1 .form-check {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;
}

.profuct_filter .accordion-button {
    margin-top: 0;
    text-transform: capitalize;
    gap: 0.5rem;
    background: white !important;
    box-shadow: none !important;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 1rem;
}

.profuct_filter .min-max {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.profuct_filter .min-max input {
    background-color: #EBEBEB !important;
    color: black !important;
    box-shadow: none !important;
    padding-left: 0.5rem !important;
    margin: 0 !important;
}

.profuct_filter input {
    background-color: #EBEBEB !important;
    color: black !important;
    box-shadow: none !important;
    border: 0px !important;
}

.slected_filter .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 0.4rem;
    font-weight: 400;
}

.slected_filter .badge button {
    color: #fff;
    margin: 0;
    font-size: 0.55rem;
    filter: invert(1);
    box-shadow: none !important;
    border-left: 2px solid black;
    border-radius: 0;
    padding-left: 0.5rem;
}

.slected_filter {
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
}

.has-search {
    display: flex;
    height: 100%;
    align-items: center;
}

.has-search .form-control {
    padding-left: 2.375rem !important;
    box-shadow: none !important;
    color: black !important;
    background-color: #EBEBEB !important;
    border: 0 !important;
    font-weight: 400 !important;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.doctors_heqader {
    display: flex;
    gap: 0.7rem;
    justify-content: flex-end;
    align-items: center;

}

.doctors_heqader button {
    margin: 0;
    width: auto;
    display: flex;
    height: fit-content;
    border-radius: 50%;
    background-color: rgba(41, 156, 219, 0.098);
    color: #299CDB;
}

.doctors_heqader button.active {
    margin: 0;
    width: auto;
    display: flex;
    border-radius: 50%;
    background-color: #299CDB;
}

.dr_info .card-body {
    padding: 2rem;
}

.dr_info .d-flex {
    justify-content: space-between;
}

.dr_info .text-muted {
    font-size: 0.85rem;
}

.dr_info span {
    cursor: pointer;
    height: fit-content;
}

.create_member {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
}

input[type=text],
input[type=password] {
    /* margin: 0px; */
    /* padding: 10px 10px; */
    border: 2px solid #EBEBEB;
    border-radius: 4px;
    color: black !important;
    background-color: #EBEBEB !important;
    box-shadow: none !important;
}

input[type=password] {
    padding: .375rem .75rem !important;
}

.gradiant_btn {
    background: linear-gradient(97.07deg, #3577F1 -13.4%, #405189 55.52%);
    width: auto;
    border-radius: 2rem !important;
    margin: 0;
}